// variables

// ------ COLORS ------ //
$primary: #83d46e;
$primary-hover: #4ec031;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #232323;
$grey: rgba(250, 250, 250, 0.932);
$blue: #505050;

// ------ COLORS ------ //

$smooth: all 0.3s ease-in-out;
